@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
} 
@model StudentPortal.Web.Models.AddStudentViewModel  //Access properties in that model inside the html here, bind each to the model for our DB
<!--^^Essentially binds the AddStudent model to this html View -->

<h1>Add Student </h1> 


<form method="post">  <!--Since everything is inside the form, especially the submit button, we should be able to access info in the Students -->
  <div class="mt-3">
    <label class="form-label">Name</label>
    <input type="text" class="form-control" asp-for="Name" /> <!--Link each input to the properties of the modelView-->
  </div>

  <div class="mt-3">
    <label class="form-label">Email</label>
    <input type="email" class="form-control" asp-for="Email" />
  </div>

  <div class="mt-3">
    <label class="form-label">Phone</label>
    <input type="text" class="form-control" asp-for="PhoneNum" />
  </div>

  <div class="mt-3">
    <input type="checkbox" class="form-check-input" id="Subscribed" asp-for="Subscribed" />
    <label class="form-check-label" for="Subscribed">Subscribe</label>
  </div>

  <div class="mt-3">
    <button type="submit" class="btn btn-primary">Save</button>
  </div>

</form>
